body{
    font: 20px Arial;
}

.navbar {
    background-color: #dedddf;
}

.quemsomos{
    background-color: #F8E0E0;
}

.margin {
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg-footer {
    background-color: #F8E0E0;;
}